.content {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: space-around;
}

h2 {
  font-size: 32px;
}

.cars {
    margin: 0 0 20px 0;
    list-style-type: none;
    padding: 0;
    width: 200px;
    height: 50px;
  }
  
  .cars li {
    display: flex;
  }
  
  .cars button {
    flex: 1;
    cursor: pointer;
    position: relative;
    background-color: goldenrod;
    margin: .5em;
    padding-left: 75px;
    border-radius: 4px;
    display: flex;
    align-items: stretch;
    height: 50px;
  }
  
  .cars button:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
    left: .1em;
  }
  
  .cars button:active {
    background-color: darkcyan;
    color: #fafafa;
  }
  
  .cars button.selected {
    background-color: black;
    color: white;
  }
  
  .cars button.selected:hover {
    background-color: darkcyan;
    color: white;
  }
  
  .cars button.selected:active {
    background-color: black;
    color: white;
  }
  
  .cars .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: chocolate;
    line-height: 1em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  
  .cars .name {
    align-self: center;
  }

  .labels {
   display: flex;
   flex-direction: column;
   margin: 20px;
   justify-content: space-around;
  }